@import "./variables/colors.scss";

.form-control {
  label {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    display: block;
  }

  input {
    border: 1px solid $separator-light;
    padding: 0.5rem;
    display: block;
    width: 100%;
    box-sizing: border-box;

    &:focus-visible {
      outline: none;
    }

    &:focus {
      border: 1px solid map-get($map: $theme-colors, $key: primary);
      transition: ease all 0.3s;
    }

    &.has-error {
      border: 1px solid map-get($map: $theme-colors, $key: danger);

      &:focus {
        border: 1px solid map-get($map: $theme-colors, $key: danger);
      }
    }
  }
}
