$default-font-color-light: #222222;
$separator-light: rgba(0, 0, 0, 0.2);
$default-font-color-dark: white;
$separator-dark: white;

$button-default: #6c757d;

$theme-colors: (
  "primary": #007bff,
  "success": #28a745,
  "danger": #bd2130,
  "warning": #e9b007,
  "info": #17a2b8
);